<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="Css/login.css" />
    <script src="Js/angular.min.js"></script>

</head>
<body ng-app="">
    <div class="body"></div>
    <div class="grad">

        <form name="frm" novalidate ng-hide="divShowHide">
            <div class="login">
                <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true" />
                <br />
                <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true" />
                <br />
                <input type="button" value="Login" style="width:130px" />
                <input type="button" ng-click="divShowHide=true" value="Forgot password" style="width:130px" /><br />
            </div>
        </form>
        <form novalidate ng-hide="!divShowHide">
            <div class="PasswordReset" ng-show="!divShowHide">
                <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true" />
                <br />
                <input type="button" value="Reset Password" style="width:130px" />
                <input type="button" ng-click="divShowHide=false" value="back" style="width:130px" />
            </div>
        </form>
    </div>
</body>
</html>